@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}


:root{
    --sec-purple: #f72d7a;;
    --main-purple: #722a75;
    --third-purple: #bc43c1;
    --main-white: #d6d6d6;
    --main-blue: #457bc1;
    --sub-blue:#7eadea;
    --main-dark:rgb(22,20,34);
    --sub-dark: rgb(42, 38, 65);
    --main-gray:rgb(96, 96, 97);
    --sec-gray:rgb(159, 159, 165);
    --rare-gold:rgb(234, 209, 47);
 }

 *{
    box-sizing: border-box;
    margin: 0;
 }

body{
    height: 100vh;
    width: 100%;
    background: #000;
  
}
.background{
    background: url(backgroun3.jpg) no-repeat;
    background-position: center;
    background-size:cover ;
    height: 100vh;
    width: 100%;
    filter: blur(10px);
}
header {
    background-color: var(--main-dark);
    color: var(--main-white);
    padding: 6px 20px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
}

.nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo img {
    height: 40px; 
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.nav_menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav_menu ul li {
    margin-right: 1.5rem;
}

.nav_menu ul li:last-child {
    margin-right: 0;
}

.nav_menu a {
    text-decoration: none;
    color: var(--main-white);
}

.nav_menu a:hover {
    color: var(--sec-purple);
}

.dropbtn {
    color: var(--main-white);
    font-size: 16px;
    border: none;
  }

  .dropdown_menu {
    position: relative;
    display: inline-block;
  }


  
  .dropdown_content {
    display: none;
    position: absolute;
    background-color: var(--sec-purple);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }  
  

  .dropdown_content a {
    color: var(--main-white);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }


  .dropdown_content a:hover {background-color: #ddd;}

  /* Show the dropdown menu on hover */
  .dropdown_menu:hover .dropdown_content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown_menu:hover .dropbtn {background-color: var(--main-blue);}
  

/* Dark/Light button styling */
 button {
    background-color: var(--third-purple);
    color: var(--main-white);
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}



/* Adjust styles for button hover and focus states as needed */
button:hover {
    background-color: var(--main-blue);
}

.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 65%;
    height: 100vh;
    margin-top: 20px;
    background: url(backgroun3.jpg) no-repeat;
    background-position: center;
    background-size:cover ;
    border-radius: 20px;
    overflow: hidden;
    
}

.item{
    position: absolute;
    top: 0;
    left: 0;
    width: 58%;
    height: 100%;
    color: #fff;
    background: transparent;
    padding: 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    


}
.item .logo{
    color: #fff;
    font-size: 30px;

}
.text-item h2{
    font-size: 40px;
    line-height: 1;
}
.text-item p{
    font-size: 16px;
    margin: 20px 0;
}
.social-icon a i{
    color: #fff;
    font-size: 24px;
    margin-left: 10px;
    cursor: pointer;
    transition: .5s ease;
}
.social-icon a:hover i{
    transform: scale(1.2);
}
.container .login-section{
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 58%);
    height: 100%;
    color: #fff;
    backdrop-filter: blur(10px);
}

.login-section .form-box{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
}
.login-section .form-box.register{
    transform: translateX(430px);
    transition: transform .6s ease;
    transition-delay: 0s;
}
.login-section.active .form-box.register{
    transform: translateX(0px);
    transition-delay: .7s;
}

.login-section .form-box.login{
    transform: translateX(0px);
    transition: transform .6s ease;
    transition-delay: 0.7s;
}
.login-section.active .form-box.login{
    transform: translateX(430px);
    transition-delay: 0s;
}



.login-section .form-box h2{
    text-align: center;
    font-size: 25px;
}

.form-box .input-box{
    width: 340px;
    height: 50px;
    border-bottom: 2px solid#fff;
    margin: 30px 0;
    position: relative;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    padding-right: 28px;


}
.input-box label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 600px;
    pointer-events: none;
    transition: .5s ease;

}
.input-box .icon{
    position: absolute;
    top: 13px;
    right: 0;
    font-size: 19px;
}
.input-box input:focus~ label,
.input-box input:valid~ label{
    top: -5px;
}
.remember-password{
    font-size: 14px;
    font-weight: 500;
    margin: -15px 0 15px ;
    display: flex;
    justify-content: space-between;
}
.remember-password label input{
    accent-color: #fff;
    margin-right: 3px;

}
.remember-password a{
    color: #fff;
    text-decoration: none;
}
.remember-password a:hover{
    text-decoration: underline;
}
.btn{
    background: #fff;
    width: 100%;
    height: 45px;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: var(--sec-purple);
    font-size: 16px;
    color: #fff;
    box-shadow: rgba(0,0,0,0.4);

}
.create-account{
    font-size: 14.5px;
    text-align: center;
    margin: 25px;
}
.create-account p a{
    color: #fff;
    font-weight: 600px;
    text-decoration: none;
}
.create-account p a:hover{
    text-decoration: underline;
}