:root {
    --sec-purple: #f72d7a;
    --main-purple: #722a75;
    --third-purple: #bc43c1;
    --main-white: #d6d6d6;
    --main-blue: #457bc1;
    --sub-blue: #7eadea;
    --main-dark: rgb(22,20,34);
    --sub-dark: rgb(42,38,65);
    --main-gray: rgb(96,96,97);
    --sec-gray: rgb(159,159,165);
    --rare-gold: rgb(234,209,47);
}

/* Basic Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

/* Styling */
body {
    background-color: var(--main-dark);
    color: var(--main-white);
}


